.weatherWrapper {
    text-align: center;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    /* margin-left: 15px; */
    padding: 10px;
    min-height: 150px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 20px;
}