.trainWrapper {
    border: 1px solid;
}

.trainWrapper .trainInfo {
    display: inline-block;
    padding: 10px;
}

.fullWidth {
    width: 100%;
    color: black;
}

.fullWidth:hover {
    text-decoration: none;
    color: black;
}

.center {
    margin: auto;
    width: 20px;
    height: 20px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
}

.listItem:hover {
    background: #e9eaea;
    text-decoration: none;
}

.lineBorderStyleNorthEastCorridor {
    border-left: 5px solid #ee3a41;
}

.lineBorderStyleNorthJerseyCoast {
    border-left: 5px solid #00a5e3;
}

.lineBorderStyleRaritanValley {
    border-left: 5px solid #faa633;
}

.lineBorderStyleGladstoneBranch {
    border-left: 5px solid #a1d4ae;
}

.lineBorderStyleMorristown {
    border-left: 5px solid #00a94e;
}

.lineBorderStyleMontclairBoonton {
    border-left: 5px solid #e76a5b;
}

.lineBorderStyleMain {
    border-left: 5px solid #fece08;
}

.lineBorderBergenCounty {
    border-left: 5px solid #b9c9df;
}

.lineBorderPascackValley {
    border-left: 5px solid #a0218c;
}

.lineBorderAtlanticCity {
    border-left: 5px solid #015dab;
}

.lineBorderStyleAmtrak {
    border-left: 5px solid #45647b;
}

