.trainWrapper {
    border: 1px solid;
}

.trainWrapper .trainInfo {
    display: inline-block;
    padding: 10px;
}

.fullWidth {
    width: 100%;
}

.center {
    margin: auto;
    width: 20px;
    height: 20px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
}

.lineBorderStyleNorthEastCorridor {
    border: 5px solid #ee3a41;
}

.lineBorderStyleNorthJerseyCoast {
    border: 5px solid #00a5e3;
}

.lineBorderStyleRaritanValley {
    border: 5px solid #faa633;
}

.lineBorderStyleGladstoneBranch {
    border: 5px solid #a1d4ae;
}

.lineBorderStyleMorristown {
    border: 5px solid #00a94e;
}

.lineBorderStyleMontclairBoonton {
    border: 5px solid #e76a5b;
}

.lineBorderStyleMain {
    border: 5px solid #fece08;
}

.lineBorderBergenCounty {
    border: 5px solid #b9c9df;
}

.lineBorderPascackValley {
    border: 5px solid #a0218c;
}

.lineBorderAtlanticCity {
    border: 5px solid #015dab;
}
