.hero {
    /* border: 1px solid; */
    padding: 20px;
}

.currentStation {
    /* text-align: center; */
    /* display: inline; */
    /* float: right; */
    font-size: 18px;
    text-transform: uppercase;
    /* opacity: .1; */
}

.heroImage {
    height: 100px;
    display: block;
    margin: 0 auto;
}

.controlSection button {
    display: inline-block;
}

.controlSection {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 10px;
}

.controlButton a {
    color: white;
}

.controlDropdown {
    display: inline-block;
}

.controlSection button {
    margin-left: 10px;
}

@media(max-width: 768px) {
    .heroImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    button {
        width: 100%;
    }

    .controlSection div {
        width: 100%;
    }

    .controlSection button {
        margin-left: 0px;
        margin-top: 10px;
    }

    .controlSection a {
        border-bottom: 1px solid green;
        padding: 20px;
    }
}
