.hero {
    border: 1px solid;
}

.heroTitle {
    text-align: center;
}

@media(max-width: 768px) {
    .heroImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
