.weatherContainer {
    /* border: 1px solid red; */
    text-align: center;
}

.paddingTop10 {
    padding-top: 10px;
}

.weatherContainer div {
    /* border: 1px solid; */
    /* padding: 20px; */
}

.icon {
    font-size: 36px;
    padding-top: 0px;
}